body *{
    font-family: 'Roboto Slab', serif;
    color: black;
    font-size: 1em;
}
#wrapper{
    margin-right: auto; 
    margin-left:  auto;

    padding-right: .5em; 
    padding-left:  .5em;
}
h1{
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 41px;
}
h2{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
}
h3{
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
}
h4{
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
}
p{
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
}
.body2{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
}
.caption1{
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
}
.caption2{
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
}
.smalltext{
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
}
/* navigation */
ul{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
}
.navbar{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin-bottom:2em;
    padding-top: 1em;
    
}
.home{
    font-weight: 300;
    font-size: 1em;
}
.nav{
    display:flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1em;
}
.work{
    margin-right: 3em;
}
.home:hover{
    border-bottom: .25em solid #99ddcc;
}
.work:hover{
    border-bottom: .25em solid #ffe2e2;
}
.about:hover{
    border-bottom: .25em solid #ffe2e2;
}
/* top project banner */
.projectbox{
    display: flex;
    flex-direction: row;
    text-align: center; 
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}
.text > h1 {
    margin-bottom: .5em;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cover{
    width:10em;
    height: 13em;   
}
.link{
    color: #99DDCC; 
    margin-top: 1em;    
}
.link:hover{
    text-decoration: underline;
    color: #BAD7DF;
}
/* Overview */
.overview{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F6F6F6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: .5em;
    margin-top: 1em;
}
.title{
    text-decoration: underline;
    padding-bottom: .5em;
}
.heading{
    border-bottom: .25em solid #99DDCC;
    margin-top: 1em;
    margin-bottom: .5em;
}
/*summary*/
.implications{
    margin-top: .5em;
    padding: .5em;
    background-color: #99DDCC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.implications > h3 {
    margin-top: .5em;
}
.bold{
    font-weight: bold;
}
/*observation*/
.observation > .caption1{
    margin-left: 1em;
    margin-right: 1em;
}
.observation > h3{
    margin-top: .5em;
}
.obsdiagram{
    margin-bottom: 1em;
    background-color: #BAD7DF;
    padding: 1em;
}
.diagram{
    height: 10em;
    width: auto;
}
.diagram1, .diagram2, .diagram3, .diagram4{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flowbox{
    text-align: center;
}
.flow{
    height: 20em;
    width: auto;
}

/*interview*/
.interviews > .caption1{
    margin-left: 1em;
    margin-right: 1em;
}
.interviews > h3{
    margin-top: .5em;
}
.intdiagram{
    margin-bottom: 1em;
    background-color: #BAD7DF;
    padding: 1em;
}
.diagrami{
    height: auto;
    width: 15em;
}
.diagram5, .diagram6, .diagram7, .diagram8{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.specbox{
    text-align: center;
}
.persona1, .persona2{
    height: auto;
    width: 18em;
}

/*survey*/
.surveys > .caption1{
    margin-left: 1em;
    margin-right: 1em;
}
.surveys > h3{
    margin-top: .5em;
}

.surveybox{
    background-color: #BAD7DF;
    padding: .5em;
}
.figure{
    text-align: center;
}
.figure1, .figure2, .figure3{
    height:auto;
    width: 18em;
}
.caption{
    font-size: .5em;
    text-align: left;
}

/*discussion*/
.discussion > h3{
    margin-top: .5em;
}
.discussion > h4{
    text-decoration: underline;
    margin-top: .5em;
}

/*retrospective*/
.retro{
    background-color: #99DDCC;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

/*tablet*/
@media only screen and (min-width: 600px){
    /*projectbox*/
    .cover{
        width:20em;
        height: auto;
    }
    /*observation*/
    .diagram{
        height: 20em;
        width: auto;
    }
    .flow{
        height: 40em;
        width: auto;
    }
    /*interview*/
    .diagrami{
        height: auto;
        width: 15em;
        margin:.5em;
    }

    .diagram5, .diagram6, .diagram7{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .persona1, .persona2{
        height: auto;
        width: 40em;
    }
    .figure1, .figure2, .figure3{
        height:auto;
        width: 30em;
    }
}
@media only screen and (min-width: 800px){
    /* top project banner */
    .cover{
        width:30em;
        height: auto;
    }
    /*text format*/
    .summary, .observation, .start, .end, .interviews, .surveys, .discussion, .overview{
        margin-left: 10em;
        margin-right: 10em;
    }

