body *{
    font-family: 'Roboto Slab', serif;
    color: black;
    font-size: 1em;
}
#wrapper{
    margin-right: auto; 
    margin-left:  auto;

    padding-right: .5em; 
    padding-left:  .5em;
}
p{
    margin-bottom: .5em;
    line-height: 1.6;
}
h2{
    font-size: 2em;
    text-decoration: underline;
    margin-bottom: .5em;
}
h3{
    font-size: 3em;
    margin-bottom: .25em;
    margin-top: .5em;
}
/* navigation */
ul{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
}
.navbar{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin-bottom:2em;
    padding-top: 1em;
    
}
.home{
    font-weight: 300;
    font-size: 1em;
}
.nav{
    display:flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1em;
}
.work{
    padding-right: 3em;
}
/* top project banner */
.projectbox{
    display: flex;
    flex-direction: column-reverse;
    text-align: center; 
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5em;
    margin-bottom: 1em;
    background-color: #CAE7C1;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cover{
    width:15em;
        height: 10em;
}
/* Overview */
.overview{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid;
    border-color: #c6b7e9;
    padding: .5em;
}
.title{
    text-decoration: underline;
}
.heading{
    text-align: center;
}
/*summary*/
.report{
    font-size: 1.5em;  
}
.report:hover{
    color: #CAE7C1;
}
.implications{
    margin-left: 1em;
    margin-right: 1em;
    padding: .5em;
    background-color: #c6b7e9;
}
.bold{
    font-weight: bold;
}
/*observation*/
.task{
    margin-left: 1em;
    margin-right: 1em;
    font-style: italic;
}
.obsdiagram{
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #CAE7C1;
    padding: 1em;
}
.diagram{
    height: 10em;
    width: auto;
}
.diagram1, .diagram2, .diagram3, .diagram4{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flowbox{
    text-align: center;
}
.flow{
    height: 20em;
    width: auto;
}

/*interview*/
.intdiagram{
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #CAE7C1;
    padding: 1em;
}
.diagrami{
    height: auto;
    width: 15em;
}
.diagram5, .diagram6, .diagram7, .diagram8{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.specbox{
    text-align: center;
}
.persona1, .persona2{
    height: auto;
    width: 18em;
}

/*survey*/
h4{
    font-weight: bolder;
    font-size: 1.5em;
    margin-top: .5em;
    margin-bottom: .5em;
}
.surveybox{
    background-color: #CAE7C1;
    padding: .5em;
}
.figure{
    text-align: center;
}
.figure1, .figure2, .figure3{
    height:auto;
    width: 18em;
}
.caption{
    font-size: .5em;
    text-align: left;
}

/*discussion*/
.subhead{
    font-style: italic;
    font-size: 1.5em;
}

/*retrospective*/
.retro{
    background-color: #c6b7e9;
    padding-right: .5em;
    padding-left: .5em;
}
.retro > h3{
    font-size: 2.5em;
    font-weight: bolder;
    text-align: center;
}

/*tablet*/
@media only screen and (min-width: 600px){
    .projectbox{
        display: flex;
        flex-direction: row-reverse;
        text-align: center; 
        justify-content: space-evenly;
        padding: 1.5em;
        margin-bottom: 2em;
        background-color: #CAE7C1;
    }
    .text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cover{
        width:20em;
        height: auto;
        margin-right: 1em;
    }
    /* Overview */
    .overview{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        border: solid;
        border-color: #c6b7e9;
        padding: .5em;
        
    }
    .title{
        text-decoration: underline;
    }
    .heading{
        text-align: center;
    }
    /*observation*/
    .diagram{
        height: 20em;
        width: auto;
    }
    .flow{
        height: 40em;
        width: auto;
    }
    /*interview*/
    .diagrami{
        height: auto;
        width: 15em;
        margin:.5em;
    }

    .diagram5, .diagram6, .diagram7{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .persona1, .persona2{
        height: auto;
        width: 40em;
    }
    .figure1, .figure2, .figure3{
        height:auto;
        width: 30em;
    }
}
@media only screen and (min-width: 800px){
    /* top project banner */
    .home{
        font-weight: 300;
        font-size: 1.4em;
    }
    .projectbox{
        display: flex;
        flex-direction: row-reverse;
        text-align: center; 
        justify-content: space-evenly;
        padding: 1.5em;
        margin-bottom: 2em;
        background-color: #CAE7C1;
    }
    .text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cover{
        width:30em;
        height: auto;
    }
    /* Overview */
    .overview{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        border: solid;
        border-color: #c6b7e9;
        margin-right: 10em;
        margin-left: 10em;
        padding: .5em 2em;
    }
    .title{
        text-decoration: underline;
    }
    /*text format*/
    .heading{
        text-align: initial;
    }
    .summary, .observation, .start, .end, .interviews, .surveys, .discussion{
        margin-left: 10em;
        margin-right: 10em;
    }
    .implications{
        margin-left: 5em;
        margin-right: 5em;
        background-color: #c6b7e9;
    }
    .retro > h3{
        font-size: 2.5em;
        font-weight: bolder;
        text-align: initial;
    }
    .retro{
        margin-left: 0em;
        margin-right: 0em; 
        margin-bottom: -1em;
        padding-left: 10em;
        padding-right: 10em;
        padding-bottom: 1em;
    }
}