body *{
    font-family: 'Roboto Slab', serif;
    color: black;
    font-size: 1em;
}
#wrapper{
    margin-right: auto; 
    margin-left:  auto;

    padding-right: .5em; 
    padding-left:  .5em;
}
p{
    margin-bottom: .5em;
    line-height: 1.6;
}
h2{
    font-size: 2em;
    text-decoration: underline;
    margin-bottom: .5em;
}
h3{
    font-size: 3em;
    margin-bottom: .25em;
    margin-top: .5em;
}
/* navigation */
ul{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
}
.navbar{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin-bottom:2em;
    padding-top: 1em;
    
}
.home{
    font-weight: 300;
    font-size: 1em;
}
.nav{
    display:flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1em;
}
.work{
    margin-right: 3em;
}
.home:hover{
    border-bottom: .25em solid #CAE7C1;
}
.work:hover{
    border-bottom: .25em solid #c6b7e9;
}
.about:hover{
    border-bottom: .25em solid #c6b7e9;
}
/* introduction */
.intro{
    text-align: center;
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
}
.name{
    text-align: center;
}
h1{
    font-size: 3em;
    margin-bottom: .5em;
}
#name{
    color:#CAE7C1;
}
/* project boxes */
.projectbox{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    text-align: center; 
    align-items: center;
    padding: 1em;
    margin-right: .5em;
    margin-left: .5em;
    margin-bottom: 2em;
    background-color: #CAE7C1;
}
.cover{
    height:10em;
    width:15em;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.read{
    text-decoration: underline;
    color: #9E92BA;
}
.read:hover{
    color: #625B74;
    
}

/*tablet*/
@media only screen and (min-width: 600px){
    /* project boxes */
    .projectbox{
        display: flex;
        flex-direction: row-reverse;
        text-align: center; 
        justify-content: space-evenly;
        padding: 1em;
        margin-right: 1em;
        margin-left: 1em;
        margin-bottom: 2em;
        background-color: #CAE7C1;
    }
    .text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cover{
        height:auto;
        width:20em;
        margin:1em;
    }
}
/*desktop*/
@media only screen and (min-width: 800px){
    /*navbar*/
    .home{
        font-weight: 300;
        font-size: 1.4em;
    }
    /* introduction */
    .intro{
        margin-right: 10em;
        margin-left: 10em;
        margin-bottom: 1em;
    }
    
    h1{
        font-size: 4em;
        margin-bottom: .5em;
    }

    /* project boxes */
    .projectbox{
        display: flex;
        flex-direction: row-reverse;
        text-align: center; 
        justify-content: space-evenly;
        padding: 1.5em;
        margin-right: 10em;
        margin-left: 10em;
        margin-bottom: 2em;
        background-color: #CAE7C1;
    }
    .text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cover{
        height:auto;
        width:30em;
        margin:1em;
    }
}