body *{
    font-family: 'Roboto Slab', serif;
    color: black;
    font-size: 1em;
}
#wrapper{
    margin-right: auto; 
    margin-left:  auto;

    padding-right: .5em; 
    padding-left:  .5em;
}
h1{
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 41px;
}
h2{
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
}
h3{
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
}
p{
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
}
.body2{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
}
.caption2{
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
}
/* navigation */
ul{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
}
.navbar{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin-bottom:2em;
    padding-top: 1em;
    
}
.home{
    font-weight: 300;
    font-size: 1em;
}
.nav{
    display:flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1em;
}
.work{
    margin-right: 3em;
}
.home:hover{
    border-bottom: .25em solid #99ddcc;
}
.work:hover{
    border-bottom: .25em solid #ffe2e2;
}
.about:hover{
    border-bottom: .25em solid #ffe2e2;
}
/* introduction */
.profile{
    border-radius: 10em;
    width: 15em;
    height: 15em;
    margin-top: 5em;
    margin-bottom: 5em;
}
.intro{
    align-items: center;
    text-align: center;
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
    height: 100vh;
}
.name{
    text-align: center;
}
#name{
    color:#99ddcc;
}
/* project boxes */
.projects{
    background-color: #bad7df;
    margin: -.5em;
    padding-top: 3em;
    padding-bottom: 3em;
}
.projectbox{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    text-align: center; 
    align-items: center;
    padding:1em;
    margin-bottom: 2em;
}
.cover{
    height:auto;
    width:10em;
    margin-right: 1em;
}
.text > h2{
    color: #f6f6f6;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}
.read{
    color: #f6f6f6;
}
.read:hover{
    color: #ffe2e2;   
}
.fa-chevron-circle-right{
    color: #f6f6f6;
}

/*tablet*/
@media only screen and (min-width: 600px){
  
    /* project boxes */
    .projectbox{
        display: flex;
        flex-direction: row-reverse;
        text-align: center; 
        justify-content: space-evenly;
        padding:1em;
        margin-bottom: 2em;
    }
    .text > h2{
        margin-bottom: 1em;
    }
    .read{
        margin-top: .5em;
    }
    .text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cover{
        height:22em;
        width:auto;
        
    }
}
/*desktop*/
@media only screen and (min-width: 800px){
    /*intro*/
    .profile{
        border-radius: 10em;
        width: 20em;
        height: 20em;
        margin-top: 3em;
        margin-bottom: 3em;
    }
    /* project boxes */
    .projectbox{
        display: flex;
        flex-direction: row-reverse;
        text-align: center; 
        justify-content: space-between;
        padding: 1.5em;
        margin-left: 5em;
        margin-right: 5em;
    }
    
    .text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .cover{
        height:20em;
        width:auto;
        margin-right: 4em;
    }
}