body *{
    font-family: 'Roboto Slab', serif;
    color: black;
    font-size: 1em;
}
#wrapper{
    margin-right: auto; 
    margin-left:  auto;
    padding-right: .5em; 
    padding-left:  .5em;
}
h1{
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 41px;
}
h2{
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
}
h3{
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
}
h4{
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
}
p{
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
}
.body2{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
}
.caption1{
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
}
.caption2{
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
}
.smalltext{
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
}
/* navigation */
ul{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
}
.navbar{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin-bottom:2em;
    padding-top: 1em;   
}
.home{
    font-weight: 300;
    font-size: 1em;
}
.nav{
    display:flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1em;
}
.work{
    margin-right: 3em;
}
.home:hover{
    border-bottom: .25em solid #99ddcc;
}
.work:hover{
    border-bottom: .25em solid #ffe2e2;
}
.about:hover{
    border-bottom: .25em solid #ffe2e2;
}
/* top project banner */
.projectbox{
    display: flex;
    flex-direction: row;
    text-align: center; 
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}
.text > h1 {
    margin-bottom: .5em;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cover{
    width:10em;
    height: 13em;   
}
/* Overview */
.overview{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F6F6F6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: .5em;
    margin-top: 1em;
}
.title{
    text-decoration: underline;
    padding-bottom: .5em;
}
.heading{
    border-bottom: .25em solid #99DDCC;
    margin-top: 1em;
    margin-bottom: .5em;
}
/* design tenants*/

/* personas */
.personaBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #99DDCC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 1em;
    margin-bottom: 2em;
    padding: .5em;
}
.column{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.aspects{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;
    
}
.aspects > h3{
    color: #F6F6F6;
}

.persona1{
    height: 10em;
    width: 15em;
    object-fit: cover;
    margin: 1em;
}
.persona2{
    height: 10em;
    margin: 1em;
    width: 15em;
    object-fit: cover;
}
/*scenario*/
.scenarios > h3{
    margin-top: .5em;
}
/* charette */
.charetteHold{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffe2e2;
    padding: .5em;
}
.opening > .caption1{
    margin-top: .5em;

}
.view{
    display: none;
}
.charlink{
    display: block;
}
.charette1, .charette2{
    display: none;
}
/* mood board */
.moodbox{
    text-align: center;
}
.mood{
    width:20em;
    height: auto;
}
/*video*/
.link{
    color: #99DDCC; 
    
}
.link:hover{
    text-decoration: underline;
    color: #BAD7DF;
}
/* mobile prototypes */
.mobile1 > h3 {
    margin-top: .5em;
}
.mobileproto1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #BAD7DF;
    margin: .5em 0em;
}
.proto1{
    height: auto;
    width: 15em;
    margin-top:.5em;
    margin-bottom: 1em;
}
.conference{
    height: auto;
    width: 15em;
    margin-top:.5em;
    margin-bottom: 1em;
}
/* desktop prototypes */
.desktop1 > h3 {
    margin-top: .5em;
}
.desktopproto1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #BAD7DF;
    margin: .5em 0em;
}
.proto2{
    height: auto;
    width: 15em;
    margin-bottom: 1em;
    margin-top:.5em;
}
/*usability*/
.chartbox{
    text-align: center;
}
.chart{
    height: auto;
    width: 15em;
    margin-bottom: 1em;
    margin-top:.5em;
}
.outbox{
    margin: .5em 1em;
    padding: .5em;
    background: #F6F6F6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* hi-fi prototype */
.chat, .mobileplus, .mobiletask, .desktask{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFE2E2;
    margin: .5em 0em;
}
.proto3, .proto5, .proto7, .proto8{
    height: auto;
    width: 15em;
    margin-bottom: 1em;
    margin-top:.5em;
}
.chatdesk, .deskplus{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFE2E2;
    margin: .5em 0em;
}
.proto4, .proto6{
    height: auto;
    width: 15em;
    margin-bottom: 1em;
    margin-top:.5em;
}
.calendar, .plus, .tasks > h3{
    margin-top: .5em;
}
/* style tile */
.stylebox{
    text-align: center;
}
.stylepic{
    height: auto;
    width: 15em;
    margin-bottom: 1em;
    margin-top:.5em;
}
/*retrospective*/
.retro{
    background-color: #99DDCC;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}


/*tablet*/
@media only screen and (min-width: 600px){
    /*projectbox*/
    .cover{
        width:20em;
        height: auto;
    }    
    /* mobile prototypes */
    .mobileproto1{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        background-color: #BAD7DF;
    }
    /* desktop prototypes */
    .desktopproto1{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #BAD7DF;
    }
    .proto2{
        height: auto;
        width: 30em;
        margin-bottom: 1em;
        margin-top:.5em;
    }
    /*usability*/
    .chartbox{
        text-align: center;
    }
    .chart{
        height: auto;
        width: 30em;
        margin-bottom: 1em;
        margin-top:.5em;
    }
    /* hi-fi prototype */
    .chat, .mobileplus, .mobiletask, .desktask{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        background-color: #FFE2E2;
    }
    .proto4, .proto6{
        height: auto;
        width: 30em;
        margin-bottom: 1em;
        margin-top:.5em;
    }
    /* style tile */
    .stylebox{
        text-align: center;
    }
    .stylepic{
        height: auto;
        width: 30em;
        margin-bottom: 1em;
        margin-top:.5em;
    }
}

/*desktop*/
@media only screen and (min-width: 800px){
    .projectbox{
        display: flex;
        flex-direction: row;
        text-align: center; 
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 1em;
    }
    .cover{
        width:30em;
        height: auto;
        margin-right: 1em;
    }
    /* give margins to text sections */
    .overview, .intro, .goal, .tenets, .personas, .scenarios, .charetteHold, .opening, .moodboard, .video, .prototype, .usability, .new, .style{
        margin-left: 10em;
        margin-right: 10em;
    }
    /* setting up the persona box */
    .personaBox{
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #99DDCC;
        margin-bottom: 2em;
        padding-right: 2em;
        padding-top: .5em;
    }
    .column{
        display: flex;
        flex-direction: column;
        margin-left: 2em;
    }
    .aspects{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 1em;
    }
    .persona1{
        height: 20em;
        margin: .5em;
        width: 15em;
        object-fit: cover;
    }
    .persona2{
        height: 20em;
        margin: .5em;
        width: 15em;
    }
    /* setting up pictures for design charette */
    .view{
        display: block;
    }
    .charetteHold{
        display:flex;
        flex-direction: column;
        background-color: #FFE2E2;
        padding: 1em 5em;
        margin: 0;
    }
    .charlink{
        display:none;
    }
    .char1{
        height: auto;
        margin: 1em;
        width: 15em;
    }
    .char2{
        height: 20em;
        width: 35em;
    }
    .charette1, .charette2{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}