body *{
    font-family: 'Roboto Slab', serif;
    color: black;
    font-size: 1em;
}
#wrapper{
    margin-right: auto; 
    margin-left:  auto;

    padding-right: .5em; 
    padding-left:  .5em;
}
p{
    margin-bottom: .5em;
    line-height: 1.6;
}
h3{
    font-size: 3em;
    margin-bottom: .25em;
    margin-top: .5em;
}
h4{
    font-weight: bolder;
    font-size: 1.5em;
    margin-top: .5em;
    margin-bottom: .5em;
}
/* navigation */
ul{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
}
.navbar{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin-bottom:2em;
    padding-top: 1em;
    
}
.home{
    font-weight: 300;
    font-size: 1em;
}
.nav{
    display:flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1em;
}
.work{
    margin-right: 3em;
}
.home:hover{
    border-bottom: .25em solid #CAE7C1;
}
.work:hover{
    border-bottom: .25em solid #c6b7e9;
}
.about:hover{
    border-bottom: .25em solid #c6b7e9;
}
/* top project banner */
.projectbox{
    display: flex;
    flex-direction: column-reverse;
    text-align: center; 
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5em;
    margin-bottom: 1em;
    background-color: #CAE7C1;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cover{
    width:15em;
        height: 10em;
}
/* Overview */
.overview{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid;
    border-color: #c6b7e9;
    padding: .5em;
}
.title{
    text-decoration: underline;
}
.heading{
    text-align: center;
}
/* design tenants*/
.tenbox{
    margin-left: 1em;
    margin-right: 1em;
    padding: .5em;
    background-color: #c6b7e9;
}
/* personas */
.personaBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CAE7C1;
    margin-bottom: 2em;
    padding: .5em;
}
.column{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.aspects{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;
}
.aspects > h4{
    font-size: 1em;
    font-weight: bold;
}
.persona1{
    height: 10em;
    width: 15em;
    object-fit: cover;
}
.persona2{
    height: 10em;
    margin: 1em;
    width: 15em;
    object-fit: cover;
}
/* charette */
.charetteHold{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #c6b7e9;
    padding: .5em;
}
.view{
    display: none;
}
.charlink{
    display: block;
    font-weight: bold;
}
.charette1, .charette2{
    display: none;
}
/* mood board */
.moodbox{
    text-align: center;
}
.mood{
    width:20em;
    height: auto;
}
/*video*/
#link{
    color: #CAE7C1; 
}
/* mobile prototypes */
.mobileproto1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CAE7C1;
}
.proto1{
    height: auto;
    width: 15em;
    margin-top:.5em;
    margin-bottom: 1em;
}
.conference{
    height: auto;
    width: 15em;
    margin-top:.5em;
    margin-bottom: 1em;
}
/* desktop prototypes */
.desktopproto1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CAE7C1;
}
.proto2{
    height: auto;
    width: 15em;
    margin-bottom: 1em;
    margin-top:.5em;
}
/*usability*/
.chartbox{
    text-align: center;
}
.chart{
    height: auto;
    width: 15em;
    margin-bottom: 1em;
    margin-top:.5em;
}
.outbox{
    margin-left: 1em;
    margin-right: 1em;
    padding: .5em;
    background-color: #c6b7e9;
}
/* hi-fi prototype */
.chat, .mobileplus, .mobiletask, .desktask{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CAE7C1;
}
.proto3, .proto5, .proto7, .proto8{
    height: auto;
    width: 15em;
    margin-bottom: 1em;
    margin-top:.5em;
}
.chatdesk, .deskplus{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CAE7C1;
}
.proto4, .proto6{
    height: auto;
    width: 15em;
    margin-bottom: 1em;
    margin-top:.5em;
}
/* style tile */
.stylebox{
    text-align: center;
}
.stylepic{
    height: auto;
    width: 15em;
    margin-bottom: 1em;
    margin-top:.5em;
}
/*retrospective*/
.retro{
    background-color: #c6b7e9;
    margin-bottom: -1em;
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: 1em;
}
.retro > h3{
    font-size: 2.5em;
    font-weight: bolder;
    text-align: center;
}

/*tablet*/
@media only screen and (min-width: 600px){
    .projectbox{
        display: flex;
        flex-direction: row-reverse;
        text-align: center; 
        justify-content: space-evenly;
        padding: 1.5em;
        margin-bottom: 2em;
        background-color: #CAE7C1;
    }
    .text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cover{
        width:20em;
        height: auto;
        margin-right: 1em;
    }
    /* Overview */
    .overview{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        border: solid;
        border-color: #c6b7e9;
        padding: .5em;
        
    }
    .title{
        text-decoration: underline;
    }
    .heading{
        text-align: center;
    }
    /*persona*/
    .aspects > h4{
        font-size: 1.5em;
        font-weight: bold;
    }
    /* mobile prototypes */
    .mobileproto1{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        background-color: #CAE7C1;
    }
    /* desktop prototypes */
    .desktopproto1{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #CAE7C1;
    }
    .proto2{
        height: auto;
        width: 30em;
        margin-bottom: 1em;
        margin-top:.5em;
    }
    /*usability*/
    .chartbox{
        text-align: center;
    }
    .chart{
        height: auto;
        width: 30em;
        margin-bottom: 1em;
        margin-top:.5em;
    }
    /* hi-fi prototype */
    .chat, .mobileplus, .mobiletask, .desktask{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        background-color: #CAE7C1;
    }
    .proto4, .proto6{
        height: auto;
        width: 30em;
        margin-bottom: 1em;
        margin-top:.5em;
    }
    /* style tile */
    .stylebox{
        text-align: center;
    }
    .stylepic{
        height: auto;
        width: 30em;
        margin-bottom: 1em;
        margin-top:.5em;
    }
}

/*desktop*/
@media only screen and (min-width: 800px){
    .home{
        font-weight: 300;
        font-size: 1.4em;
    }
    .heading{
        text-align: initial;
    }
    .projectbox{
        display: flex;
        flex-direction: row-reverse;
        text-align: center; 
        justify-content: space-evenly;
        padding: 1.5em;
        margin-bottom: 2em;
        background-color: #CAE7C1;
    }
    .text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cover{
        width:30em;
        height: auto;
        margin-right: 1em;
    }
    /* give margins to text sections */
    .overview, .intro, .goal, .tenets, .personas, .scenarios, .charetteHold, .opening, .moodboard, .video, .prototype, .usability, .new, .style{
        margin-left: 10em;
        margin-right: 10em;
    }
    /* design tenants*/
    .tenbox{
        margin-left: 5em;
        margin-right: 5em;
        padding: .5em;
        background-color: #c6b7e9;
    }
    /* setting up the persona box */
    .personaBox{
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #CAE7C1;
        margin-bottom: 2em;
        padding-right: 2em;
        padding-top: .5em;
    }
    .column{
        display: flex;
        flex-direction: column;
        margin-left: 2em;
    }
    .aspects{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 1em;
    }
    .aspects > h4{
        font-weight: bold;
    }
    .persona1{
        height: 20em;
        margin: .5em;
        width: 15em;
        object-fit: cover;
    }
    .persona2{
        height: 20em;
        margin: .5em;
        width: 15em;
    }
    /* setting up pictures for design charette */
    .view{
        display: block;
    }
    .charetteHold{
        display:flex;
        flex-direction: column;
        background-color: #c6b7e9;
        padding: 1em 5em;
        margin: 0;
    }
    .charlink{
        display:none;
    }
    .char1{
        height: auto;
        margin: 1em;
        width: 15em;
    }
    .char2{
        height: 20em;
        width: 35em;
    }
    .charette1, .charette2{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}